/* :root{
    --primary-white: #ffff;
    --primary-orange: #f9ab00;
    --primary-dark : rgba(255,255,255,0);
} */


.header-wrapper{
    position: relative;
    background-image: url("../../images/header-bg.jpg");
    background-image: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}
.main-info{
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right:0;
    left:0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}
.main-info h1{
    color: var(--primary-orange);
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}
.still-text{
    color: var(--primary-white);
}
.typed-text{
    font-size: 2rem;
    color: var(--primary-orange);
}
.btn-main-offer{
    border: 1px solid var(--primary-red);
    text-transform: uppercase;
    border-radius: 0;
    padding: 0.625rem 0.75rem 0.75rem 0.75rem;
    color: var(--primary-white);
    margin:2rem;
}
.btn-main-offer:hover{
    text-decoration: none;
    background-color: var(--primary-hover-red);
    color: var(--primary-white);
    transition: .2s ease-in-out;
}